@page
@model Torneo.App.Frontend.Pages.Partidos.CreateModel
@{
}
<h1>Nuevo Partido</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="partido.FechaHora"></label>
        <input asp-for="partido.FechaHora" class="form-control">
    </div>
    <div class="form-group">
        <label for="idLocal">Local</label>
        <select id="idLocal" name="idLocal" class="form-control">
            @foreach (var local in Model.equipos)
            {
                <option value="@local.Id">@local.Nombre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="partido.MarcadorLocal"></label>
        <input asp-for="partido.MarcadorLocal" class="form-control">
    </div>
    <div class="form-group">
        <label for="idVisitante">Visitante</label>
        <select id="idVisitante" name="idVisitante" class="form-control">
            @foreach (var visitante in Model.equipos)
            {
                <option value="@visitante.Id">@visitante.Nombre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="partido.MarcadorVisitante"></label>
        <input asp-for="partido.MarcadorVisitante" class="form-control">
    </div>
    <br>
    <div style="text-align: right;">
        <button type="submit" class="btn btn-primary btn-block">Crear Partido</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>
</div>